.permanent {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

#welcome {
    font-size: 30px;
}

a {
    text-decoration: none;
    color:brown;
}

.grad {
    background-image: -webkit-linear-gradient(to right, #6b11cbf7, #2574fcf5);
    background-image: linear-gradient(to right, #6a11cbf7, #2575fcf5)
    }