{% load static %}

<html>
    <head>
        <title>
            Shortcuts
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Barlow:wght@300&family=Calligraffitti&family=Encode+Sans:wght@500&family=Libre+Barcode+39&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
        <style>
            .flexbox {
                display: flex;
                flex-wrap: wrap;
                width: auto;
                justify-content: space-evenly;
            }
        </style>
        <link rel="stylesheet" href="{% static 'newyear/main.css' %}">
    </head>
    <body>
        <p id="head">Shortcuts</p>

        <script>
            const setBg = () => {
                const randomColor = Math.floor(Math.random()*16777215).toString(16);
                document.getElementById("genNew").style.backgroundColor = "#" + randomColor;
                color.innerHTML = "#" + randomColor;
            }   

            genNew.addEventListener("click", setBg);
            setBg();
        </script>

        <div class="flexbox">


            <a href="https://ocw.mit.edu/courses/18-01sc-single-variable-calculus-fall-2010/">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="Math">Mathematics</div>
                    <div class="subtext">Integration</div>
                </div>
            </a>

            <a href="https://www.justinguitar.com/users/mridul289">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="guitar">Justin Guitar</div>
                </div>
            </a>
            
            <a href="https://www.youtube.com/playlist?list=PLyQSN7X0ro203puVhQsmCj9qhlFQ-As8e">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="Physics">8.01x</div>
                </div>
            </a>

            <div class="button">
                <div class="button-line"></div>
                <div class="maintext" style="font-family: 'Encode Sans', sans-serif">MITAdmissions</div>
            </div>

            <a href="https://learning.edx.org/course/course-v1:HarvardX+CS50W+Web/home">
                <div class="button" >
                    <div class="button-line"></div>
                    <div class="maintext" id="CS50">CS50W</div>
                    <div class="subtext">Week 2</div>
                </div>
            </a>
            
            <a href="https://learning.edx.org/course/course-v1:HarvardX+CS50+X/home">
                <div class="button" >
                    <div class="button-line"></div>
                    <div class="maintext" id="CS50">CS50X</div>
                </div>
            </a>

            <a href="https://learning.edx.org/course/course-v1:MITx+6.002.1x+2T2019/home">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="circuits">6.002x</div>
                    <div class="subtext">current iteration: 2.1x</div>
                </div>
            </a>

            <a href="https://www.youtube.com/results?search_query=Doodle">
                <div class="button" id="doodle">
                    <div class="button-line"></div>
                    <div class="maintext" id="doodle-font">Doodle</div>
                </div>
            </a>

            <a href="https://www.schoolhouse.world">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="schoolhouse">SchoolHouse</div>
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=TMePTjNjXtE&t=142s">
                <div class="button">
                    <div class="button-line"></div>
                    <div class="maintext" id="guitar">Guitar Tutorial</div>
                    <div class="subtext">currently: Night Changes</div>
                </div>
            </a>

    </body>
</html>