{% extends "notifier/template.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Receipt</h2>
                <p class="text-white-50 mb-5">Welcome {{ user }}</p>
  
                <form action="{% url 'notifier:invoicepage' %}" method="post">
                    {% crispy invoiceform %}
                </form>
                <a href="{% url 'users:logout' %}">
                    <button type="button" class="btn btn-danger">Logout</button>
                </a>
                <a href="{% url 'notifier:addretailer' %}">
                  <button type="button" class="btn btn-info">Add Retailer</button>
                </a>
                <a href="{% url 'notifier:today' %}">
                  <button type="button" class="btn btn-success">Today's Invoices</button>
                </a>
                <div style="padding: 20px"><h5>{{ current_invoice }}</h5></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}
